---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: default
spec:
  instances: 1
  superuserSecret:
    name: pg-superuser
  enableSuperuserAccess: true
  postgresql:
    pg_hba:
    - host all all 10.0.0.0/8 scram-sha-256
  bootstrap:
  imageName: "ghcr.io/cloudnative-pg/postgresql:17.1"
  storage:
    size: 10Gi
    storageClass: longhorn
  monitoring:
    enablePodMonitor: true
