---
apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: default
spec:
  type: ExternalName
  externalName: 10.47.59.2
  ports:
    - name: http
      port: 8123
      targetPort: 8123
